<% if @user %>
  <p><%= image_tag @user[:avatar_url], :class => "img-rounded", :width => "32", :alt => "avatar" %>
      <strong><%= @user[:name] %></strong>
  </p>
  
  <p>
      <% if @user[:public_repos] && @user[:public_repos] > 0 %>
        <span class="label label-info"><%= @user[:public_repos] %> Public <%= "Repo".pluralize(@user[:public_repos]) %></span>
      <% end %>
      <% if @user[:public_gists] && @user[:public_gists] > 0 %>
        <span class="label label-success"><%= @user[:public_gists] %> Public <%= "Gist".pluralize(@user[:public_gists]) %></span>
      <% end %>
  </p>
  
  <% if @contributions %>
    <p><span class="label label-primary"><%= @contributions %> open source contributions in the last year</span></p>
  <% end %>

  <% if @fav_languages %>
    <p>Maximum open source contributions are in <strong><%= @fav_languages[0] %></strong></p>
    <% if !@fav_languages[1..-1].blank? %>
    <p>Has also contributed in <strong><%= @fav_languages[1..-1].to_sentence %></strong></p>
    <% end %>
  <% end %>
  
  <% if @user[:blog] %>
    <p>Blog/Website: <%= @user[:blog] %></p>
  <% end %>
  <p>Member since <strong><%= @user[:created_at].strftime("%b %d, %Y") %></strong></p>
<% else %>
  <% if @suggestions.blank? %>
    <div class="alert alert-danger">
        <div class="container-fluid">
            <div class="alert-icon">
                <i class="material-icons">error_outline</i>
            </div>
            Oops! No relevant Github user found for the data you entered.
        </div>
    </div>
<% else %>
      <p>We didn't find an exact match but you might be looking for someone below!</p>
      <p>
     <% @suggestions.each do |user| %>
            <%= form_tag :github_result, :method => :post, :style => "display:inline-block", :class => "github_form", :remote => true do %>
              <%= hidden_field_tag :github_username, user[:login] %>
              <%= button_tag :type => 'submit', :class => "btn btn-primary btn-simple btn-lg" do %>
                <%= image_tag user[:avatar_url], :class => "img-rounded", :width => "32", :alt => "avatar" %>
                <strong><%= user[:login] %></strong>
              <% end %>
            <% end %>
          <% end %>
      </p>
    <% end %>
<% end %>
      
<% if !@error.blank? %>
        <p>
        <div class="alert alert-warning">
            <div class="container-fluid">
                <div class="alert-icon">
                    <i class="material-icons">warning</i>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                </button>
                Looks like we are facing some problems while fetching data from StackOveflow. Please try again in some time.
            </div>
        </div>
    </p>
<% end %>
    
<script>
  $(document).ready(function(){
    $('.github_form').on('ajax:beforeSend', function(e, data, status, xhr){
      $("#github_tab").html("<p><i class='fa fa-circle-o-notch fa-spin fa-2x'></i></p><p>Crunching Github data! Please be patient!</p>");
    });
  });
</script>