<% if @so_response && @so_response[:found] %>
  <p><%= image_tag @so_response[:users][0][:avatar], :class => "img-rounded", :width => "32", :alt => "avatar" %>
      <strong><%= @so_response[:users][0][:name] %></strong>
  </p>

  <p>
      <span class="label label-info">Reputation: <%= @so_response[:users][0][:reputation] %></span>
      <% if !@so_position.blank? %>
        <span class="label label-success"><%= @so_position %></span>
      <% end %>
      <% if !@so_reach.blank? %>
        <span class="label label-primary"><%= @so_reach %> people reached</span>
      <% end %>
  </p>

  <p>Member since <strong><%= @so_response[:users][0][:created_at].strftime("%b %d, %Y") %></strong></p>
<% else %>
  <% if @so_response.blank? || @so_response[:users].blank? %>
    <div class="alert alert-danger">
        <div class="container-fluid">
            <div class="alert-icon">
                <i class="material-icons">error_outline</i>
            </div>
            Oops! No relevant stackoverflow user found for the data you entered. Try tweaking it a bit.
        </div>
    </div>
  <% else %>
    <p>We didn't find an exact match but you might be looking for someone below! Click to investigate.</p>
    <p>
            <% @so_response[:users].each do |user| %>
              <%= form_tag :so_result, :method => :post, :style => "display:inline-block", :class => "so_form", :remote => true do %>
                <%= hidden_field_tag :so_user_id, user[:user_id] %>
                <%= button_tag :type => 'submit', :id => "so_submit_button", :class => "btn btn-primary btn-simple btn-lg" do %>
                    <%= image_tag user[:avatar], :class => "img-rounded", :width => "32", :alt => "avatar" %>
                    <strong><%= user[:name] %></strong>
                <% end %>
              <% end %>
            <% end %>
    </p>
  <% end %>
<% end %>

  <% if !@error.blank? %>
        <p>
        <div class="alert alert-warning">
            <div class="container-fluid">
                <div class="alert-icon">
                    <i class="material-icons">warning</i>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                </button>
                Looks like we are facing some problems while fetching data from StackOveflow. Please try again in some time.
            </div>
        </div>
    </p>
  <% end %>
    
<script>
  $(document).ready(function(){
    $('.so_form').on('ajax:beforeSend', function(e, data, status, xhr){
      $("#so_tab").html("<p><i class='fa fa-circle-o-notch fa-spin fa-2x'></i></p><p>Crunching StackOverflow data! Please be patient!</p>");
    });
  });
</script>