<div class="section section-full-screen section-signup" style="background-image: url('<%= image_url 'meter.jpg' %>'); background-size: cover; background-position: top center; min-height: 700px;">
    <div class="container">
        <div class="row" id="dev_form">
            <div class="col-md-4 col-md-offset-4">
                <div class="card card-signup">
                    <%= form_tag :result, :method => :post, :class => "form", :id => "dev_form", :remote => true do %>
                      <div class="header header-primary text-center">
                          <h4>Investigate a Developer</h4>
                          <div class="social-line">
                              <a href="https://github.com/amitsaxena/dev_stats" class="btn btn-simple btn-just-icon" target="_blank">
                                  <i class="fa fa-github"></i>
                              </a>
                              <a href="http://stackoverflow.com/users/762747/amit-saxena" class="btn btn-simple btn-just-icon" target="_blank">
                                  <i class="fa fa-stack-overflow"></i>
                              </a>
                              <a href="http://aawaara.com/" class="btn btn-simple btn-just-icon" target="_blank">
                                  <i class="fa fa-rss"></i>
                              </a>
                              <a href="http://twitter.com/amitsxena" class="btn btn-simple btn-just-icon" target="_blank">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </div>
                      </div>
                      <p class="text-divider">Enter details below</p>
                      <div class="content">

                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="fa fa-envelope"></i>
                              </span>
                              <div class="form-group is-empty" id="email_block">
                                  <label class="control-label" id="email_error"></label>
                                  <%= email_field_tag :email, nil, :placeholder => "Email", :class => "form-control", :autocomplete => "off" %>
                                  <span class="material-input"></span>
                              </div>
                          </div>

                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="fa fa-github"></i>
                              </span>
                              <div class="form-group is-empty">
                                  <%= text_field_tag :github_username, nil, :placeholder => "Github Username", :class => "form-control", :autocomplete => "off" %>
                                  <span class="material-input"></span></div>
                          </div>

                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="fa fa-stack-overflow"></i>
                              </span>
                              <div class="form-group is-empty">
                                  <%= text_field_tag :so_username, nil, :placeholder => "Stackoverflow Display Name", :class => "form-control", :autocomplete => "off" %>
                                  <span class="material-input"></span></div>
                          </div>

                          <!-- If you want to add a checkbox to this form, uncomment this code

                          <div class="checkbox">
                                  <label>
                                          <input type="checkbox" name="optionsCheckboxes" checked>
                                          Subscribe to newsletter
                                  </label>
                          </div> -->
                      </div>
                      <div class="footer text-center">
                          <%= button_tag :type => 'submit', :class => "btn btn-primary btn-simple btn-lg" do %>
                            Investigate Now<div class="ripple-container"></div>
                          <% end %>
                      </div>
                    <% end %>
                </div>

            </div>
        </div>
        
        
        <!-- Results start here> -->
        <!-- <div class="row collapse" id="result"> -->
            <div class="row collapse" id="result">
            <div class="col-md-6 col-md-offset-3">

                <!-- Tabs with icons on Card -->
                <div class="card card-nav-tabs">
                    <div class="header header-success">
                        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#so_tab" data-toggle="tab" aria-expanded="true">
                                            <i class="fa fa-stack-overflow fa-2x"></i>
                                            Stackoverflow
                                            <div class="ripple-container"></div></a>
                                    </li>
                                    <li class="">
                                        <a href="#github_tab" data-toggle="tab" aria-expanded="false">
                                            <i class="fa fa-github fa-2x"></i>
                                            Github
                                            <div class="ripple-container"></div></a>
                                    </li>
                                    <li class="">
                                        <a href="#donate" data-toggle="tab" aria-expanded="false">
                                            <i class="material-icons">favorite</i>
                                            Like this?
                                            <div class="ripple-container"></div></a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="tab-content text-center">
                            <div class="tab-pane active" id="so_tab">
                            </div>
                            <div class="tab-pane" id="github_tab">
                                <p> I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                            </div>
                            <div class="tab-pane" id="donate">
                                <p>Are you in love with this tool and find it incredibly useful? You can send me money by clicking the image below, and encourage me to add more features!</p>
                                <p><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHXwYJKoZIhvcNAQcEoIIHUDCCB0wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYA7M3ViOE+LrFF1Ul/yi2HXktdKUPszcVfntXkg96msHc4eon7WGh1kOGlBxO0CMRdSTMJ3IrHrTrjYJJj1VutdqNT2Jp14j61svW08FzObQsiVNWRh+nOzicqjmnqjJRNAywT6QBZZwrkPIh5PrXjBdEOB34xmsbbEh9f5pcWKsDELMAkGBSsOAwIaBQAwgdwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIWHPDHSgMpkyAgbhHbrHiiz05odbMGe/sd3TlNYqyXllEwUdLTEhSTB79Yx8m9pTIQNLFAbVgLfSmftzMlrwQdnj5uYfBL5+9NoesnpdsFu1vtrw01uf3Cif2qKFSm1XI9hVjYxDSpRdc3GyVR0AAz3rDmaDghU2ICpyYjq8YAt3BOACfsWgVasd+yQnjB8rsQ6//OaSk7Ki/Z0ZL2xka7DJlOYQkxmYOHxlB2yRwyxnSr+ZmmE5+3AhsChiBoKTo5fGMoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTcwMTI3MjEzOTMxWjAjBgkqhkiG9w0BCQQxFgQU3JmaVSMxbFKc2zcr0xnYIoggE1QwDQYJKoZIhvcNAQEBBQAEgYBjVcvb2Hdj2nVnCHfckBZ21ajslpJbc3nSvRXXl11bmriTPB+28JiCXCiRPI1KO/FVNF2rEx6dLVxcOx68COC5d4HjHSQ8QPlLiGoY/utxX2wKA9S3uE0ngAGLE34FQgbTO9RDKWuixsb/n1X1go5c/zFSol8mz8HlsZwyLPUHBA==-----END PKCS7-----
                                           ">
                                    <input width="200" type="image" src="http://poster.keepcalmandposters.com/default/5536214_keep_calm_and_send_me_money.jpg" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                </form>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Tabs with icons on Card -->

            </div>
        </div>
        <!-- Results end here> -->
    </div>
</div>